.layout {

    width: 100%;

    &__container {

        &_align {

            &_center {
                margin: auto;
            }
        }

        &_size {

            &_s {
                max-width: 920px;
            }

            &_m {
                max-width: 1280px;
            }
        }

        &_space-v {

            @each $space-v in xxxxl, xxxxxl {

                &_#{$space-v} {
                    padding-top: var(--space_#{$space-v});
                    padding-bottom: var(--space_#{$space-v});
                }

            }

        }

        &_indent-b {

            @each $indent-b in xxl, xxxxl {

                &_#{$indent-b} {
                    margin-bottom: var(--space_#{$indent-b});
                }

            }

        }
    }
}