.e-accordion {

    &__more {

        overflow: hidden;

        &_state{

            &_open {

                height: 100%;

            }

            &_close {

                height: 0px;

            }

        }

    }

}