.form {

    &__item {

        display: flex;
        flex-wrap: wrap;
        flex-grow: inherit;
        flex-basis: inherit;

        &_border {

            &_bottom {
                border-bottom: solid;

                &:last-child{
                    border-bottom: none;
                }
            }
        }

        &_distribute {

            &_between {
                justify-content: space-between;
            }
        }

        &_vertical-align {

            &_center{
                align-items: center;
            }
        }

        &_space-v {

            @each $space-v in xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl {

                &_#{$space-v} {
                    padding-top: var(--space_#{$space-v});
                    padding-bottom: var(--space_#{$space-v});
                }

            }

        }

        &_space-h {

            @each $space-h in xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl {

                &_#{$space-h} {
                    padding-left: var(--space_#{$space-h});
                    padding-right: var(--space_#{$space-h});
                }

            }

        }

        &_indent-b {

            @each $indent-b in xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl {

                &_#{$indent-b} {
                    margin-bottom: var(--space_#{$indent-b});

                    &:last-child{
                        margin-bottom: 0;
                    }

                }

            }

        }
    }

    &__label {

        &_width {

            &_default {
                flex-basis: 35%;

            }
        }
    }

    &__control {
        flex-grow: inherit;
    }

    &_border {
        
        &_all {
            border: 3px solid var(--bg-border);
        }
    }

    &_view {

        &_default {
            background-color: var(--bg-default);
        }
    }

}