.icon-plus {

    display: flex;

    &__icon {

        &_indent-l {

            &_l {
                margin-left: var(--space_l);
            }

        }

        &_indent-r {

            @each $size in s, m {

                &_#{$size} {
                    margin-right: var(--space_#{$size});
                }

            }

        }

    }

    &__block {
        
    }

    &_vertical-align {

        &_center{
            align-items: center;
        }
    }
}