.informer {

    &__content {

        display: flex;
        flex-wrap: wrap;

        &_distribute {

            &_default {
                justify-content: start;
            }

            &_between {
               justify-content: space-between;
            }

            &_center {
                justify-content: center;
            }

        }

        &_space-a{

            @each $size in xl, xxl {
                
                &_#{$size} {
                    padding: var(--space_#{$size});
                }
                
            }

        }

    }

    &__action {

        display: flex;
        flex-wrap: wrap;

        &_distribute {

            &_default {
                justify-content: start; 
            }

            &_between {
                justify-content: space-between;
            }

            &_center {
                justify-content: center;
            }

        }

        &_space-a{

            @each $size in xl, xxl {
                
                &_#{$size} {
                    padding: var(--space_#{$size});
                }
                
            }

        }
        
    }

    &_border {
        
        &_all {
            border: var(--space_xxxs) solid var(--bg-border);
        }
    }

    &_view {

        &_default {
            background-color: var(--bg-default);
        }
    }
}