.list {

    &__item {

        display: flex;
        flex-wrap: wrap;

        &_border {

            &_top {
                border-top: 3px solid var(--bg-border);

                &:first-child{
                    border-top: none;
                }
            }

            &_bottom {
                border-bottom: 3px solid var(--bg-border);

                &:last-child{
                    border-bottom: none;
                }
            }
        }

        &_distribute {

            &_between {
                justify-content: space-between;;
            }
        }

        &_vertical-align {

            &_center{
                align-items: center;
            }
        }

        &_space-a {

            &_m {
                padding: var(--space_m);
            }


        }

        &_space-b {

            &_s {
                padding-bottom: var(--space_s);
            }

        }

        &_intend-t {

            &_m {
                margin-top: var(--space_m);
            }

        }

        &_indent-b {

            @each $size in s, m, l, xl {

                &_#{$size} {
                    margin-bottom: var(--space_#{$size});
                    &:last-child{
                        margin-bottom: 0;
                    }
                }

            }

        }

    }

    &_border {
        
        &_all {
            border: 3px solid var(--bg-border);
        }
    }

    &_view {

        &_default {
            background-color: var(--bg-default);
        }
    }

}