.footer {
    margin-top: var(--space_xxxl);
    margin-bottom: var(--space_xxxl);
    margin-left: var(--gap);
    margin-right: var(--gap);

    &__content {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    
}