.footer {

    padding: var(--space_xxxl) var(--gap);
    background-color: var(--bg-default);

    &__content {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    
}