.onoffswitch {
    width: 97px;
    height: 32px;
    border: 2px solid var(--bg-border);

    &__button {
        width: 24px;
        height: 24px;
        background-color: var(--bg-border);
        margin: 2px;
    }
}