.image {
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: var(--bg-border);
    background-color: var(--bg-default);
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--image-stub);
    
}