.card {

    &__content {

        &_distribute {

            &_center{
                justify-self: center;
            }

        }

        &_vertical-align {

            &_center{
                align-self: center;
            }

        }

        &_space-a{

            @each $space-a in m, l, xl, xxl, xxxl {
                
                &_#{$space-a} {
                    padding: var(--space_#{$space-a});
                }
                
            }

        }

    }

    &__footer {

        &_distribute {

            &_between{
                justify-self: unset;
            }

            &_center{
                justify-self: center;
            }

            &_right{
                justify-self: right;
            }

        }

        &_vertical-align {

            &_center{
                align-self: center;
            }

            &_top{
                align-self: start;
            }

            &_bottom{
                align-self: end;
            }

        }

        &_space-a{

            @each $space-a in m, l, xl, xxl {
                
                &_#{$space-a} {
                    padding: var(--space_#{$space-a});
                }
                
            }

        }

    }

    &_border {
        
        &_all {
            border-style: solid;
            border-color: var(--bg-border);
        }
    }

    &_view {

        &_default {
            background-color: var(--bg-default);
        }
    }
}