.grid {

    display: grid;

    &__fraction {

        &_m-col {
            
            @each $width in 2, 3, 4, 5, 8 {

                &_#{$width} {
                    @media (min-width: $bkpt) {
                        grid-column: span $width;
                    }
                }

            }

        }
    }
    
    &_m-columns {

        @each $count in 10, 12 {

            &_#{$count} {
                @media (min-width: $bkpt) {
                    grid-template-columns: repeat($count, 1fr);
                }
            }

        }

    }

    &_col-gap {

        &_full {
            column-gap: var(--gap);
        }

        &_half {
            column-gap: calc(var(--gap) / 2);
        }

        &_two-thirds {
            column-gap: calc(var(--gap) * 2 / 3);
        }

    }

    &_row-gap {

        &_full {
            row-gap: var(--gap);
        }

        &_half {
            row-gap: calc(var(--gap) / 2);
        }
    }
}